html,
body,
h1,
h2,
h3,
h4,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  //background: linear-gradient(#63a583, #6e93d6);
  background: linear-gradient(#ea700b, #f0b51f);
  font-family: "Poppins", sans-serif;
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.drum-pads {
  width: 100vw;
  background: #e4dbd9;
  border-radius: 8px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

@media screen and (min-width: 769px) {
  .drum-pads {
    max-width: 400px;
    padding: 10px;
  }
}

a {
  text-decoration: none;
}
